.about {
   padding: 120px 0;
   &__wrapper {
      display: grid;
      min-height: 600px;
      grid-template:1fr/400px minmax(auto,670px);
      column-gap: 70px;
   }

   &__photo img{
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
   &__info{
      padding-top: 5px;
   }

   &__title {
      position: relative;
      @include before_circle;
      padding-left: 12px;
   }
   &__divider.divider{
      margin:0;
   }

   &__text {
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #000000;
      margin-top: 20px;
   }
}

.experience{
   margin-top: 40px;
   display: grid;
   row-gap: 30px;
   column-gap: 30px;
   grid-template-columns:repeat(auto-fit,minmax(260px,auto));
   grid-template-rows: 1fr;
   &-item {
      padding-left: 60px;
      position: relative;
   }
   &-item__before {
      position: absolute;
      content: '';
      left: 0px;
      top: 10px;
      z-index: 1;
      @include before_circle;
      padding-left: 15px;
      padding-top: 5px;
   }
   
   &-item__title {
      margin-bottom: 10px;
   }
   &-item__descr {
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
   }
}


